{% extends '@templates_path/base.html.twig' %}

 {% block title %}{{ title }}{% endblock %}

 {% block body %}
     {% include '@templates_path/header.html.twig' %}


     <div class="container py-2">
         <div class="container mt-4">
             <div class="col-md-6">
                 <div class="row justify-content-center">
                     <h2>Filling the wallet</h2>
                     {{ form_start(FillWalletForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                     <div class="mb-3">
                         {{ form_label(FillWalletForm.amount, null, {'label_attr': {'class': 'form-label'}}) }}
                         {{ form_widget(FillWalletForm.amount, {'attr': {'class': 'form-control', 'type': 'number', 'min': '1'}}) }}
                         {{ form_errors(FillWalletForm.amount) }}
                     </div>

                     <div class="d-grid">
                         <button type="submit" class="btn btn-success btn-lg">Create payment intent</button>
                     </div>

                     {{ form_end(FillWalletForm) }}
                 </div>
             </div>
         </div>
     </div>



     {% include '@templates_path/footer.html.twig' %}
 {% endblock %}