{% extends 'base.html.twig' %}

 {% block title %}{{ title }}{% endblock %}

 {% block body %}
     {% include 'header.html.twig' %}

     <div class="container py-4">
         <div class="p-5 mb-4 bg-light rounded-3">
             <div class="container-fluid py-5">
                 <h1 class="display-5 fw-bold">{{ title }}</h1>

                 <ul class="list-group" style="text-align: start; margin:3%;">
                     <li class="list-group-item"><b>RATE PER HOUR:</b> {{ teacher.cv.RatePerHour }}$</li>
                     <li class="list-group-item"><b>CITY:</b> {{ teacher.RelatedUser.city.name }}</li>
                     <li class="list-group-item"><b>GENDER:</b> {{ teacher.RelatedUser.gender.name }}</li>
                     <li class="list-group-item"><b>AGE:</b> {{ teacher.RelatedUser.age }}</li>
                     <li class="list-group-item"><b>YEARS EXPERIENCE:</b> {{ teacher.cv.YearsOfExperience }}</li>
                     <li class="list-group-item"><b>RATING:</b> {{ teacher.rating }}</li>
                 </ul>


                 {% if expertises|length > 0 %}
                     <h4 class="display-5 fw-bold">Teacher`s expertises:</h4>
                     <ol class="list-group" style="text-align: start; margin:3%">
                         {% for expertise, rating in expertises %}
                             <li class="list-group-item">
                                 <p><b>Expertise:</b> {{ expertise }}</p>
                                 <p><b>Rating:</b> {{ rating }} from {{ max_teacher_expertise_rating }}</p>
                             </li>
                         {% endfor %}
                     </ol>
                 {% endif %}



                 {% if studying_modes|length > 0 %}
                     <h7 class="display-5 fw-bold">Studying modes:</h7>
                     <ol class="list-group" style="text-align: start; margin:3%">
                         {% for mode in studying_modes %}
                             <li class="list-group-item">
                                 <p><b>{{ mode }}</b></p>
                             </li>
                         {% endfor %}
                     </ol>
                 {% endif %}


                 {% if payment_types|length > 0 %}
                     <h7 class="display-5 fw-bold">Payment types:</h7>
                     <ol class="list-group" style="text-align: start; margin:3%">
                         {% for type in payment_types %}
                             <li class="list-group-item">
                                 <p><b>{{ type }}</b></p>
                             </li>
                         {% endfor %}
                     </ol>
                 {% endif %}

                 <div class="row align-items-md-stretch" style="margin: 3%">
                     <div class="col-md-6">
                         <div class="h-100 p-5 text-white bg-dark rounded-3">
                             <h2>Personal characteristics</h2>
                             <p>{{ teacher.cv.PersonalCharacteristics }}</p>
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="h-100 p-5 bg-light border rounded-3">
                             <h2>Experience</h2>
                             <p>{{ teacher.cv.experience }}</p>
                         </div>
                     </div>
                 </div>

                 <p><a href="mailto:{{ teacher.RelatedUser.email }}">Contact the teacher via Email</a></p>
             </div>
         </div>


     </div>

     {% include 'footer.html.twig' %}
 {% endblock %}