{% extends '@templates_path/base.html.twig' %}

 {% block title %}{{ title }}{% endblock %}

 {% block body %}
     {% include '@templates_path/header.html.twig' %}

{#     Chat template: https://mdbootstrap.com/docs/standard/extended/chat/#section-7#}

     <section>
         <div class="container py-5">

             <div class="row">
                 <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                     <h5 class="font-weight-bold mb-3 text-center text-lg-start">My chats</h5>

                     <div class="card">
                         <div class="card-body">

                             <ul class="list-unstyled mb-0">

                                {% if chats|length > 0 %}
                                    {% for id, chat in chats %}
                                        <li class="p-2 border-bottom">
                                            <a href="#!"
                                                data-chat-id="{{ id }}"
                                                data-channel="{{ chat.ws_channel }}"
                                                data-current-user-id="{{ chat.current_user_id }}"
                                                class="d-flex justify-content-between"
                                                onclick="loadChat(this)">

                                                <div class="d-flex flex-row">
                                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                                                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">

                                                    <div class="pt-1">
                                                        <p class="fw-bold mb-0">{{ chat.partner_name }}</p>

                                                    {# TODO last chat message #}
    {#                                                         <p class="small text-muted">Lorem ipsum dolor sit.</p>#}
                                                    </div>
                                                </div>
                                                {#  TODO last chat message datetime #}
    {#                                                 <div class="pt-1">#}
    {#                                                     <p class="small text-muted mb-1">Yesterday</p>#}
    {#                                                 </div>#}
                                            </a>
                                        </li>
                                    {% endfor %}

                                {% else %}
                                    <p>There is no any chats</p>
                                            {# TODO add new chat #}
                                {% endif %}


                             </ul>

                         </div>
                     </div>

                 </div>

                 <div class="chat-container col-md-6 col-lg-7 col-xl-8">

                      {# TODO paste chat messages here #}
                    <div id="messages-container"></div>
                     
                    <div data-mdb-input-init class="form-outline">
                        <textarea class="form-control bg-body-tertiary" id="message" placeholder="Type a message..." rows="4"></textarea>
                        <label class="form-label" for="textAreaExample2">Message</label>
                    </div>
                        

                     <button type="button" id="sendBtn" onclick="sendMessage()" disabled data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-rounded float-end">Send</button>

                 </div>

             </div>

         </div>
     </section>



{#     <div id="chat"></div>#}
{#     <input type="text" id="message" placeholder="Type a message...">#}
{#     <button id="sendBtn" onclick="sendMessage()" disabled>Send</button>#}

     <script>
         const socket = new WebSocket('ws://localhost:8080');

         socket.onopen = function(e) {
             console.log("Connection established!");
             document.getElementById('sendBtn').disabled = false;
         };
         socket.onerror = function(e) {
             console.error("WebSocket error:", e);
         };
         socket.onclose = function(e) {
             console.warn("WebSocket closed:", e);
         };

         socket.onmessage = function(e) {
             let wsObject = JSON.parse(e.data);

             //todo LOAD REAL USER AVATARTS
             var studentAvatar = 'https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp';
             var teacherAvatar = 'https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp';

             if (wsObject.EVENT == 'load_chat') {
                let messages = '<ul class="list-unstyled">';

                wsObject.MESSAGES.forEach(function(userMessage) {
                    console.log(userMessage);

                    let image;
                    if (userMessage.TYPE == 'my') {
                        image = studentAvatar;
                    } else {
                        image = teacherAvatar;
                    }

                    messages += `<li class="d-flex justify-content-between mb-4">
                        <div class="card w-100">
                            <div class="card-header d-flex justify-content-between p-3">
                                <p class="fw-bold mb-0">${userMessage.OWNER_NAME}</p>
                            </div>
                            <div class="card-body" style="text-align: left;">
                                <p class="mb-0">${userMessage.TEXT}</p>
                            </div>
                        </div>
                        <img src="${image}" alt="avatar"
                            class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                    </li>`;
                });

                //creating messages content

                messages += '</ul>';

                console.log(messages);
                document.getElementById("messages-container").innerHTML = messages;
             }
         };

         function sendMessage() {
             const input = document.getElementById('message');
             sendToWsServer({
                 channel: 'personal_chat_1',
                 event: 'add_message',
                 chat_id: 1,
                 message_sender: 5,
                 message: input.value
             })
             input.value = '';
         }


         function sendToWsServer(wsObject) {
             if (socket.readyState === WebSocket.OPEN) {


                console.log(JSON.stringify(wsObject));

                 socket.send(JSON.stringify(wsObject));
             } else {
                 console.warn("WebSocket is not open. Current state:", socket.readyState);
             }
         }

         function loadChat(chat) {
             console.log("loadChat");

             // const chatId = chat.dataset.chatId;
             // const channel = chat.dataset.channel;
             // const event = 'load_chat';
             //
             // console.log("Chat ID:", chatId);
             // console.log("Channel:", channel);
             // console.log("Event:", event);

            //  console.log("Current user role:", chat.dataset.currentUserRole);
            //  console.log("Current user id:", chat.dataset.currentUserId);



             sendToWsServer({
                 channel: chat.dataset.channel,
                 event: 'load_chat',
                 chat_id: chat.dataset.chatId,
                 current_user_id: chat.dataset.currentUserId,
             });

         }
     </script>


     {% include '@templates_path/footer.html.twig' %}
 {% endblock %}