{% extends '@templates_path/base.html.twig' %}

 {% block title %}{{ title }}{% endblock %}

 {% block body %}
     {% include '@templates_path/header.html.twig' %}

     {% include '@templates_path/select_teachers_form.html.twig' %}

{#     <div class="container py-4">#}
{#         <div class="p-5 mb-4 bg-light rounded-3">#}
{#             <h4>Teacher selector provides a perfect career opportunity for teachers. You can apply you teaching skills if you exert of:</h4>#}
{#                 {% if expertises|length > 0 %}#}
{#                         {% for expertise in expertises %}#}
{#                            <b>{{ expertise.name }}</b>,#}
{#                         {% endfor %}#}
{#                 {% endif %}#}
{#         </div>#}

{#         <div class="p-5 mb-4 bg-light rounded-3">#}
{#            <h5> - More than {{ students_amount }} students from {{ cities_amount }} cities.</h5>#}
{#         </div>#}

{#         {% if payment_types|length > 0 %}#}
{#             <h5 class="p-5 mb-4 bg-light rounded-3">Available platform payment types:</h5>#}
{#             <ol class="list-group" style="text-align: start; margin:3%">#}
{#                 {% for type in payment_types %}#}
{#                     <li class="list-group-item">#}
{#                         <p><b>{{ type.name }}</b></p>#}
{#                     </li>#}
{#                 {% endfor %}#}
{#             </ol>#}
{#         {% endif %}#}


{#     </div>#}

     {% include '@templates_path/footer.html.twig' %}
 {% endblock %}